<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fjp%2F%25E5%2586%2599%25E7%259C%259F%2F%25E6%2598%25A0%25E7%2594%25B);">
  <div class="container">
    <h1>My Lists!</h1>
    <p>Share your favorite movie with your friend</p>
    <a class="btn btn-ghost" href="<% new_list_path %>">Adding a New List</a>
  </div>
</div>


    <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to list.name, list_path(list) %>
    </div>
    <% end %>
