<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/109669/pexels-photo-109669.jpeg);">
  <div class="container">
    <h1>My Lists!</h1>
    <p>Share your favorite movie with your friend</p>
    <a class="btn btn-ghost" href="<% new_list_path %>">Adding a New List</a>
  </div>
</div>

<div class="container">
  <%= link_to "Add New List", new_list_path, class: "btn btn-warning mt-2" %>

  <div class="cards">
    <% @lists.each do |list| %>
    <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to list.name, list_path(list) %>
    </div>
    <% end %>
  </div>
</div>
